

.post-details-page {
    display: flex;
    flex-direction: column;
    padding: 20px; 
    background-color: aquamarine;
    height: 70vh;
}

.btn-section {
    display: flex;
    justify-content: center;
}