
.link-item {
    text-decoration: none;
  }

  .nav-header {
    width: 100%;
  }
  .logo{
    color: white;
  }
  .nav-content {
    display: flex;
    justify-content: space-around;
    background-color: #272727;
    padding: 15px;
    align-items: center;
    height: 45px;
  }

  .route {
    margin-left:950px ;
    color: white;
  }